.img body{
	background-image: url("index.gif");
	background-repeat: repeat;
	margin: 0px;
	min-height: 100%;
	width: 50%;}

	#info{
		color: #8B6914;
		font-family: Verdana;
		}
#user-actions{
		width: 200px;
		float: left;
		margin-top: 70px;
		margin-left: 5px;

}

#home_link{
  border: 1px solid;
  border-radius: 4px;
  font-family: Heltica;
  font-size: 12px;
  color: #0481b1;
  border-color: #0481b1;
  border-radius: 2px;
  float: right;
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  position: relative;
}

#home{
	background: #fff;
	border: 1px solid;
	border-radius: 10px;
	width: 80px;
	height: 30px;
	float: none;
	position: absolute;
	text-align: center;
	padding-top: 5px;
	border-color: #0481b1;
	margin: 20px;

	}

#delete-users{
	width: 380px;
		float: left;
		text-align: right;
		margin-top: 30px;
		margin-left: 100px;
		padding: 2px;
		font-family: "Vendara";
		color: #0481b1;}

	#admin-actions{
		width: 200px;
		float: left;
		text-align: right;
		margin-top: 70px;
		margin-left: 5px;
		padding: 2px;
		font-family: "Heltica";
		font-size: 10px;
		color: #0481b1;

}

	#map_canvas {
		float: right;
		width: 500px;
		height: 400px;
		background-color: #CCC;
		border: 1px solid;
		border-radius: 10px;
		border-color: #0481b1;
		margin-left: 760px;
		margin-top: 20px;
		position: absolute;

      }


	#login-link{
		border: 1px solid;
		border-radius: 5px;
		padding: 5px;
		margin: 2px;
		color: #0481b1;
		float: left;
		position: relative;
		}

	#changemyprofile{
		width: 300px;
		position: absolute;
		margin-left: 5px;
		margin-top: 5px;
		color: #fff;
		float: left;

}

	#index-reports{
		float: left;
		margin: 5px;
		width: 300px;
		position: relative;
		color: #0481b1;
		font-family: Helvetica, sans-serif;
		font-size: 10px;

}

	#eleos {
		float: left;
		width: 500px;
		height: 300px;
		}

	#info{
		float: top;
		border: 1px solid;
		border-color: #0481b1;
		padding-left: 20px;
		font-family: Helvetica, sans-serif;
		font-size: 10px;
		padding-bottom: 5px;
		padding-top: 5px;
		padding-left: 5px;
		width:auto;
		}

	#register{
		float: right;
		width: 180px;
		height: 50px;
		position: relative;
		margin-top: 5px;
		border: 0.5px solid;
		border-color: #0481b1;
		border-radius: 4px;
		color: #0481b1;
		font-family: arial;
		font-size: 10px;
		padding-left: 2px;
		padding-right: 2px;
		padding-top: 2px;
		padding-bottom: 5px;
		}
		
		#register img{
			max-width: 50%;
			max-height: 100%;
			position: absolute;}

.header img {
  float: top;
  width: 320px;
  height: 75px;
}




    #sign_in_form {
		float: left;
		width:450px;
		height: 450px;
		margin: 10px;
		font-family:Verdana, sans-serif;}

    legend {
		color:#0481b1;
		font-size: 12px;
		padding: 2px;
		background:#fff;
		border: 1px solid;
		border-radius: 2px;
        border-color: #0481b1;
		font-family:Helvetica;;
		font-weight:bold;
    }
    fieldset {
    	border: 1px solid;
        border-radius:4px;
        background: #fff;
		  font-family: Helvetica;
        padding:5px;
        border-color: #0481b1;
    }

    #map{
        float: left;
        width: 300px;
        height: 300px;
        border: 1px solid;
        border-radius: 15px;
        margin: 5px;
        border-color: #0481b1;
        position: relative;
    }

    .small {
        line-height:14px;
        font-size:12px;
        color:#999898;
        margin-bottom:3px;
    }
    #login{
        width: auto;
        float: left;
        margin: 10px;
        color: #fff;

    }
    #anaforesmou{
        border: 2px solid;
        border-radius: 10px;
        font-family: "Verdana"
        margin: 50px;
        padding-left: 10px;
        width:auto;

    }

    #userinfo{
        float: left;
        width: 135px;
        border: 1px solid;
        border-radius: 4px;
        border-color: #0481b1;
        position: absolute;
        color: #0481b1;
		font-size: 12px;
        margin-left: 5px;
        margin-top: 120px;
        background-color: #fff;
        padding: 5px;

    }
    #p {
 	font-family: "Arial";
 	margin-top: 20px;
 	margin-left: 20px;
 	}

    #listreports{
        margin-top: 60px;
        margin-left: 4px;
        text-align: left;
        float: left;
        padding: 2px;
        width: auto;
        font-size: 10px;
        color:#0481B1;
        

    }

    #open_reports{
		margin-top: 5px;
		margin-left: 5px;
		float:left;
		width: 290px;
		color: #0481b1;
		font-family: Helvetica;
		font-size: 10px;
		padding: 5px;

    }
    
     #closed_reports{
		margin-top: 5px;
		margin-left: 5px;
		float:left;
		width: auto;
		color: #0481b1;
		font-family: Helvetica;
		font-size: 10px;
		padding: 5px;
}

	#edit-users{
		margin-top: 70px;
		width: auto;
	}
    #newreport{
    float: left;
    margin-top: 30px;
    width:auto;
    }

    #wrapper{
    float: left;
    margin: 20px;
    position: relative;
    border: 2px solid;
    border-radius: 15px;
    width: 300px;
    

    }
    #a{
    	margin-left: 5px;
    	margin-top: 50px;
    }
    #editcat{
    	margin-top: 70px;
    	width: auto;
    	color: #0481b1;
    	font-family: Helvetica;
    	font-size: 10px;
}

	#openrep{
		margin-top: 70px;
		width: auto;
		color: #0481b1;
    	font-family: Helvetica;
    	font-size: 10px;
}
	#change_report_status{
		margin-top: 70px;
		width: auto;
		color: #0481b1;
    	font-family: Helvetica;
    	font-size: 10px;
	}
	
	#openlist{
		margin-top: 10px;
		width: auto;
		color: #0481b1;
    	font-family: Helvetica;
    	font-size: 10px;
	}
	
	#userlist{
		margin-top: 10px;
		width: auto;
		color: #0481b1;
    	font-family: Helvetica;
    	font-size: 10px;
	}
	
	#edit-users{
		margin-top: 70px;
		width: auto;
		color: #0481b1;
    	font-family: Helvetica;
    	font-size: 10px;
		
	}
	#delete{
		margin-top: 70px;
		width: auto;
		color: #0481b1;
    	font-family: Helvetica;
    	font-size: 10px;
    	float:left;
    	position:absolute;
		
	}
	#users{
		margin-top: 210px;
		width: auto;
		color: #0481b1;
    	font-family: Helvetica;
    	font-size: 10px;
    	float: left;
    	position: absolute;
	}
